
.navbar {
    overflow: hidden;
    background-color:white;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-link {
    border:2px solid rgb(72, 110, 205);
    margin-left: 250px;
    font-size: 14px;
    margin-top: 10px;
}

.logo img{
    margin-left: 180px;
}

.app-link p{
    margin-left: 180px;
    font-size: 14px;
    margin-top: 17px;
}

h4 { 
    display: inline-block; 
}
span {
    margin-left: 100px;
}

.btn-primary,
.btn-dark {
    width: 320px;
}

.form-group {
    width: 320px;
}

.signinbtn {
    background-color: rgb(42, 113, 228);
    color: white;
}

.style {
    margin-left: 190px;
    border-top: 1px solid gray;
    width: 1040px;
}

.col, .col a {
    font-size: 14px;
    color:gray;
}